/* Колір основного тексту сірий #757575; */
/* Вторинний колір тексту графіт #212121; */
/* білий фон #FFFFFF */
/* акцент блакитний #2196F3 */
/* акцент чорний у логотипі #000000 */
/* акцент білий,контакти у футорі прозорість 60% rgba(255, 255, 255, 0.6) */
/* Вторинний колір фону #2F303A; */
/* Колір первінной кнопки #188CE8 */
/* Колір вторинних кнопок #F5F4FA*/

/* Встановлюємо змінні для палітри кольорів у корінь :root */
:root {
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
  --second-background-color: #2f303a;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --accent-contact-color: rgba(255, 255, 255, 0.6);
  --accent-logo-header-color: #000000;
  --primary-button-color: #2196f3;
  --accent-primary-button-color: #188ce8;
  --accent-second-button-color: #2196f3;
  --second-button-color: #f5f4fa;
}

/* Зняття зовнішнього відступу між елементами успадковані від браузера */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
}

.list {
  list-style: none;
}

/* Встановлення меж між секціями */
.header-container {
  /* Центруємо та вирівнюємо всі елементи меню по горізонтальній осі.
  Вкладеність флекс-контейнерів */

  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-container {
  display: flex;
}

.feature-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 94px 15px 47px 15px;
}

.work-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 47px 15px 94px 15px;
}

.team-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 94px 15px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 15px;
}

.adress-box {
  display: block;
  width: 231px;
  margin-top: 20px;
}

/* Встановлюємо основний фон та основний колір тексту документу */
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  color: var(--accent-text-color);

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.accent {
  color: var(--accent-logo-header-color);
}

/* Обнулення стилю для списків */

/* Навігація сайтом, site nav */

/* Встановлення display: flex та розміщення елементів у рядок. 
Зняття властивостей блоку то рядка*/

.site-nav {
  display: flex;
}

/* Очищення крайньої геометрії, різні варіанти */

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  /* Змінюємо рядковий елемент на блоковий та padding 
  розширюємо область ховера */
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}
.site-nav .link.current {
  color: var(--accent-text-color);
}

/* Аутентифікація у навігації, auth nav */
.auth-nav {
  display: flex;
}

.auth-nav .item + .item {
  margin-left: 50px;
}
.auth-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-text-color);
}

/* Секция герой, hero */
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--second-background-color);
}
.hero-title {
  text-align: center;
  margin: 0 auto;
  width: 696px;
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button-primary {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  border: 0px solid transparent;
  margin-top: 40px;

  color: var(--primary-white-color);
  background-color: var(--primary-button-color);
  cursor: pointer;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}
.button-primary:hover,
.button-primary:focus {
  background-color: var(--accent-primary-button-color);
}

/* Секція особливості, section */
.section-title {
  color: var(--title-text-color);

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* feature list */
.feature-list {
  display: flex;
  justify-content: space-between;
}
.feature-list .title {
  display: inline-block;
  width: 270px;
  color: var(--title-text-color);

  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-list .text {
  width: 270px;
  margin-top: 10px;
  font-size: 1.71;
  line-height: 24px;
  letter-spacing: 0.03em;
}

/*Чим ми займаємося, work*/
.work-list,
.team-list {
  margin-top: 50px;
}
.work-list,
.team-list {
  display: flex;
  justify-content: space-between;
}

/* Наша команда, section team  */
.team {
  background-color: #f5f4fa;
}
.team-list .title {
  margin-top: 30px;
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-list > li {
  padding-bottom: 30px;
  background-color: #ffffff;
}
.team-list .text {
  margin-top: 10px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* footer */
.basement {
  background-color: var(--second-background-color);
}
.accent-white {
  color: var(--primary-white-color);
}

.basement-link {
  color: var(--primary-white-color);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.contact-link {
  color: var(--accent-contact-color);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.basement-link:hover,
.basement-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-text-color);
}

/* portfolio */
/* section project portfolio */

/* Шапка сайту. Page-header portfolio */
.portfolio {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.container-porfolio {
  max-width: 1200px;
  margin: 0 auto;
  padding: 94px 15px;
}

.filter-list {
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
}
.filter-list .item + .item {
  margin-left: 8px;
}
  
/* Флекс-сітка */
.project-list .item {
  flex-basis: calc(100% / 3 -20px);
  margin-left: 20px;
  margin-top: 30px;
 
}

.button-second {
  border-radius: 4px;
  border: 0px solid transparent;
  padding: 6px 22px;

  background-color: var(--second-button-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  cursor: pointer;
}
.button-second:hover,
.button-second:focus {
  background-color: var(--accent-second-button-color);
  color: var(--primary-white-color);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 34px;
}

.project-list .title {
  margin: 20px 24px 4px;
  color: var(--title-text-color);
  text-decoration: none;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-list .text {
  margin: 0 24px 20px 24px;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.project-link {
  text-decoration: none;
}
